Vista/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57186/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="LoginResult" nillable="true" type="q1:CL_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="listaProductosResult" nillable="true" type="q2:ArrayOfCL_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlCompra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarCompraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaCompras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="listaComprasResult" nillable="true" type="q3:ArrayOfCL_Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarDetalleCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlDetalleCompra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarDetalleCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarDetalleCompraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaDetalleCompraXIdCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaDetalleCompraXIdCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="listaDetalleCompraXIdCompraResult" nillable="true" type="q4:ArrayOfCL_DetalleCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarRegistrarVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlRegistrarVenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarRegistrarVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarRegistrarVentasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaRegistrarVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaRegistrarVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="listaRegistrarVentasResult" nillable="true" type="q5:ArrayOfCL_RegistrarVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>