TestConsole/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57186/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57186/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57186/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listaProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:listaProductos" />
  </wsdl:message>
  <wsdl:message name="IService1_listaProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listaCompras_InputMessage">
    <wsdl:part name="parameters" element="tns:listaCompras" />
  </wsdl:message>
  <wsdl:message name="IService1_listaCompras_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaComprasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarDetalleCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarDetalleCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarDetalleCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarDetalleCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listaDetalleCompraXIdCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:listaDetalleCompraXIdCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_listaDetalleCompraXIdCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaDetalleCompraXIdCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarRegistrarVentas_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarRegistrarVentas" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarRegistrarVentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarRegistrarVentasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listaRegistrarVentas_InputMessage">
    <wsdl:part name="parameters" element="tns:listaRegistrarVentas" />
  </wsdl:message>
  <wsdl:message name="IService1_listaRegistrarVentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaRegistrarVentasResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listaProductos" message="tns:IService1_listaProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listaProductosResponse" message="tns:IService1_listaProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarCompra" message="tns:IService1_insertarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarCompraResponse" message="tns:IService1_insertarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaCompras">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listaCompras" message="tns:IService1_listaCompras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listaComprasResponse" message="tns:IService1_listaCompras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarDetalleCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarDetalleCompra" message="tns:IService1_insertarDetalleCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarDetalleCompraResponse" message="tns:IService1_insertarDetalleCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaDetalleCompraXIdCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listaDetalleCompraXIdCompra" message="tns:IService1_listaDetalleCompraXIdCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listaDetalleCompraXIdCompraResponse" message="tns:IService1_listaDetalleCompraXIdCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarRegistrarVentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarRegistrarVentas" message="tns:IService1_insertarRegistrarVentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarRegistrarVentasResponse" message="tns:IService1_insertarRegistrarVentas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaRegistrarVentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listaRegistrarVentas" message="tns:IService1_listaRegistrarVentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listaRegistrarVentasResponse" message="tns:IService1_listaRegistrarVentas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaProductos">
      <soap:operation soapAction="http://tempuri.org/IService1/listaProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaCompras">
      <soap:operation soapAction="http://tempuri.org/IService1/listaCompras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarDetalleCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarDetalleCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaDetalleCompraXIdCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/listaDetalleCompraXIdCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarRegistrarVentas">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarRegistrarVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaRegistrarVentas">
      <soap:operation soapAction="http://tempuri.org/IService1/listaRegistrarVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:57186/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>